@font-face {
    font-family: "Stack Sans Headline";
    src: url("fonts/StackSansHeadline-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Stack Sans Headline-Bold";
    src: url("fonts/StackSansHeadline-Bold.ttf") format("truetype");
}

body{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-content {
    background-color: rgb(44, 44, 44);
    min-height: 100vh;
    padding: 20px;
}

h1 {
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding for spacing */
}

header{
    font-family: "Stack Sans Headline-Bold", sans-serif;
}

.container {
  display: flex;
  gap: 20px; /* Adds space between the headings */
}

.navbar {
    display: flex;
    gap: 5px;
    background: #000000;
    padding: 0px;
}

.nav-button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
}

.dropdown button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
}

.dropdown a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: left; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
}

.dropdown .content{
    display: none;
    border-radius: 8px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.dropdown:hover .content{
    display: block;
}

.nav-button:hover,
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 70%);
}